html {
  font: Arial;
  font-size: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}

.gallery > h2 {
  clear: both;
}

.gallery_column {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
  box-sizing: border-box;
}

.f_img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .gallery_column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery_column {
    flex: 100%;
    max-width: 100%;
  }
}