html {
  scroll-behavior: smooth;
  font-family: 'Saira', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

body {
  color: rgba(240,240,240);
  font-family: 'Saira', sans-serif;
  width: 100%;
}

/* UTILS */
h1 {
  font-weight: 900;
  text-align: center;
}

p, a {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.muted {
  opacity: .6;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.vh100 {
  height: 100vh;
}

/* BACKGROUND ANIMATION */
.bg-exp {
  background-color: #000;
  /* background-image: url(../images/sfondo.jpg);
  background-size: cover;
  background-position: center center; */
  position: fixed;
  z-index: -100;

  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  overflow: hidden;
}

.bg-exp div {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.bg_1 div {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(1.5);
}

.bg_1 div:nth-child(1) {background-image: url("../images/1.png");}
.bg_1 div:nth-child(2) {background-image: url("../images/2.png");}
.bg_1 div:nth-child(3) {background-image: url("../images/3.png");}

.bg_2 {
  background-color: transparent;
  background-image: url("../images/sleep_bg.svg");
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
}

.bg_3 {
  background-color: #000;
}

.bg_4 {
  background-image: url("../images/dots_bg.svg");
  background-size: 80px 80px;
  filter: contrast(1.5);
}

/* MUSIC PLAYER */
.music-exp {
  position: fixed;
  bottom: 32px;
  width: 100%;
}

.music-exp .player {
  width: fit-content;
  background-color: #111;
  border: 1px solid #2f2f2f;
  border-radius: 16px;
  box-shadow: 0px 10px 30px -10px #000000;
  font-size: 14px;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.music-exp .image {
  width: 32px;
  height: 32px;
  background-color: #333;
  border-radius: 4px;
  margin: 0 0 0 24px;
  background-image: url('../images/album.png');
  background-size: cover;
}

.music-exp button {
  border: 0;
  margin: 0 6px 0 16px;
  color: white;
  height: auto;
  padding: 16px 24px 16px 24px;
  border-radius: 10px;
  opacity: .8;
  display: flex;
}

.music-exp button:hover {
  background-color: rgba(255,255,255,0.1);
  opacity: 1;
}

.music-exp button i {
  vertical-align: middle;
  font-size: 32px;
  opacity: 1;
  transition: all .2s;
}

.music-exp button i.pause {
  opacity: 0;
  margin-left: -32px;
}

.music-exp button.active i.pause {
  opacity: 1;
}

.music-exp button.active i.play {
  opacity: 0;
}

.music-exp .track {
  padding: 16px;
}

.music-exp .title a {
  display: inline-block;
  color: white;
  font-weight: 600;
}

.music-exp .title a:hover {
  text-decoration: underline;
}

.music-exp .title a i {
  font-size: 12px;
  opacity: .8;
  position: relative;
  top: 1px;
}

.music-exp .author {
  opacity: .7;
}

/* NAV */
nav {
  color: black;
  position: absolute;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 44px;
  margin-bottom: 0;
}

nav ul li {
  list-style-type: none;
  padding: 24px 32px;
}

nav ul li a {
  color: rgba(0,0,0,0.6);
}

nav ul li a.active {
  color: rgba(0,0,0,1);
  font-weight: 500;
}

nav ul li a:hover {
  color: rgba(0,0,0,1);
}

nav ul li a.expand::after {
  font-family: 'Material Icons';
  content: "expand_more";
  -webkit-font-feature-settings: 'liga';
  position: relative;
  top: 1px;
}

nav ul li a.expand:hover::after {
  font-family: 'Material Icons';
  content: "expand_less";
  -webkit-font-feature-settings: 'liga';
  position: relative;
  top: 1px;
}


/* HERO */
.hero h1 {
  font-family: 'Jost', sans-serif;
  font-size: 6vh;
  max-width: 60vh;
  text-transform: uppercase;
  line-height: 140%;
  margin: 82px 0 16px;
}

.hero a {
  font-size: 20px;
  font-weight: 500;

  color: #000;
  padding: 12px 24px 12px 12px;
  line-height: 28px;
  background-color: white;
  border-radius: 36px;
}

.hero a:hover {
  opacity: .8;
}

.hero a i {
  font-size: 32px;
  padding-right: 8px;
}

.hero p i {
  font-size: 24px;
  padding-right: 8px;
}

.hero p {
  margin-bottom: 0;
  font-size: 18px;
}

.hero p:first-of-type {
  margin-top: 14vh;
}

/* NARRATIVE */
.suggestions {
  /* margin-bottom: 50vh; */
}

.p_1, .p_2, .p_3, .p_4 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: 20px;
}


/* WORKS */
.work {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.spicchi {
  /* position: absolute;
  width: 80vh;
  height: 400vh;
  padding-top: 10vh;
  margin: 0 auto;
  z-index: 0; */

  transform: scale(1.5) translateX(-44px);
  transform-origin: center;
  position: absolute;
  top: 10vh;
}

.testi * {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  z-index: 100;
  text-shadow: 0 0 16px black;
  font-size: 4rem;
}

.circle {
  transform: scale(1.5) translateY(100px) translateX(0);
  transform-origin: center;
  position: absolute;
  height: 502px;
  width: 502px;
  top: 10vh;
}

.spicchio  {
  transform: rotate(0deg);
  transform-origin: center bottom;

  width: calc(25vh * 0.348);
  height: 25vh;

  position: absolute;
  display: block;
  margin: auto;

  background-color: transparent;
  background-size: cover;
  filter: grayscale(1) contrast(1);
  /* clip-path: polygon(50% 50%, 45% 0%, 55% 0%); */
}

.spicchi .spicchio:nth-child(2) {transform: rotate(20deg);}
.spicchi .spicchio:nth-child(3) {transform: rotate(40deg);}
.spicchi .spicchio:nth-child(4) {transform: rotate(60deg);}
.spicchi .spicchio:nth-child(5) {transform: rotate(80deg);}
.spicchi .spicchio:nth-child(6) {transform: rotate(100deg);}
.spicchi .spicchio:nth-child(7) {transform: rotate(120deg);}
.spicchi .spicchio:nth-child(8) {transform: rotate(140deg);}
.spicchi .spicchio:nth-child(9) {transform: rotate(160deg);}
.spicchi .spicchio:nth-child(10) {transform: rotate(180deg);}
.spicchi .spicchio:nth-child(11) {transform: rotate(200deg);}
.spicchi .spicchio:nth-child(12) {transform: rotate(220deg);}
.spicchi .spicchio:nth-child(13) {transform: rotate(240deg);}
.spicchi .spicchio:nth-child(14) {transform: rotate(260deg);}
.spicchi .spicchio:nth-child(15) {transform: rotate(280deg);}
.spicchi .spicchio:nth-child(16) {transform: rotate(300deg);}
.spicchi .spicchio:nth-child(17) {transform: rotate(320deg);}
.spicchi .spicchio:nth-child(18) {transform: rotate(340deg);}

.spicchi.drawing .spicchio {
  background-image: url('../images/spicchio.png');
}

.spicchi.stepwork .spicchio {
  background-image: url('../images/stepwork.png');
}

.circle.final {
  background-image: url('../images/thetart.png');
  background-size: cover;
  filter: grayscale(1);
}

.slide {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0) scale(1.01);
  transform-origin: center;
  position: absolute;
  background-size: cover;
  z-index: 2;
}

.slide.s_0 {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 66%, rgba(0,0,0,0) 100%);
  height: 150vh;
}

.slide.s_1 {
  background-image: url('../images/dettaglio_1.jpg');
  background-position: center;
}

.slide.s_2 {
  background-image: url('../images/dettaglio_2.png');
  background-position: center;
}

/* .stepwork, .finalwork {
  width: 81vh;
  height: 81vh;

  position: absolute;
  display: block;
  margin: 0 auto;

  background-color: #222;
  border-radius: 80vh;
}

.finalwork {
  background-color: #444;
  transform:  translateY(-70vh) scale(2);
  z-index: 200;
} */

/* COSTELLAZIONI */
.costellazioni {
  width: 100%;
  position: relative;
  /* top: -500vh; */
}

.costellazioni > div {
  /* background-color: #121212; */
  /* height: 70vh; */
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.costellazioni > h1 {
  margin-bottom: 90px;
}

.costellazioni img {
  max-width: 100%;
  height: auto;
}

.costellazioni p.title {
  justify-content: center;
  margin: 0;
  /* position: absolute; */
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Jost';
}

.costellazioni p.subtitle {
  opacity: .7;
  justify-content: center;
  font-size: 16px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.costellazioni button {
  border: 0;
  background: white;
  color: black;
  justify-content: center;
  border-radius: 24px;
  text-align: center;
  line-height: 44px;
  text-transform: none;
  padding: 0 20px;
  margin: 36px auto 200px;
  letter-spacing: 0;
  font-size: 18px;
  outline: 0;
  height: auto;
  display: block;
}

/* .c_1 .image {background-image: url('../images/costellazioni-02.png');} */
/* .c_2 {background-image: url('../images/costellazioni-03.png');}
.c_3 {background-image: url('../images/costellazioni-04.png');} */


.extras {
  width: 100%;
  background-color: #fff;
  position: relative;
  /* top: -500vh; */
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.extras > button {
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 16px 24px;
  line-height: 28px;
  background-color: black;
  border-radius: 36px;
  height: auto;
  border: 0;
  text-align: center;
  outline: none;
  margin: 12px 24px;
}

.extras .text {
  margin-left: 80px;
  color: #121212;
}

.extras .title {
  font-size: 44px;
  font-family: 'Jost', sans-serif;
  color: #121212;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px 0 0;
}

.extras .subtitle {
  font-size: 24px;
  line-height: 170%;
  font-family: 'Saira', sans-serif;
  color: #121212;
  font-weight: 400;
  text-transform: none;
  opacity: .8;
  padding-right: 60px;
  margin-bottom: 40px;
}


.extras .text button {
  border: 0;
  background: black;
  color: white;
  border-radius: 24px;
  text-align: center;
  line-height: 44px;
  text-transform: none;
  padding: 0 20px;
  letter-spacing: 0;
  font-size: 18px;
  outline: 0;
  height: auto;
  display: inline-block;
  margin-bottom: 60px;
}

.extras button.secondary {
  background: transparent;
  color: black;
  border: 1px solid #ccc;
  border-radius: 24px;
  margin-left: 8px;
}


.extras > div {
  background-color: #f8f8f8;
  margin: 60px auto 0;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  align-items: stretch;
}

.extras img {
  width: 30%;
  border-radius: 8px 0 0 8px;
}

.extras .about-stefano img {
  object-fit: cover;
  filter: grayscale(1) contrast(1.25) brightness(0.95);
}

.extras .about-music img {
  object-fit: contain;
  width: calc(30% + 42px);
}

.extras .about-music .text {
  margin-left: 38px;
}

footer {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  color: black;
  padding: 80px 16px;
}

footer * {
  padding: 32px;
}

footer a {
  color: black;
  text-decoration: underline;
}