html {
  scroll-behavior: smooth;
  font-family: 'Saira', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

body {
  color: rgba(240,240,240);
  font-family: 'Saira', sans-serif;
  width: 100%;
}

/* UTILS */
h1 {
  font-weight: 900;
}

p, a {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.muted {
  opacity: .6;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.vh100 {
  height: 100vh;
}

/* BACKGROUND ANIMATION */
.bg-exp {
  background-color: #121212;
  position: fixed;
  z-index: -100;

  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

/* MUSIC PLAYER */
.music-exp {
  width: 100%;
  background-color: #090909;
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;
}

/* NAV */
nav {
  color: black;
  position: absolute;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 44px;
  margin-bottom: 0;
}

nav ul li {
  list-style-type: none;
  padding: 24px 32px;
}

nav ul li a {
  color: rgba(0,0,0,0.6);
}

nav ul li a.active {
  color: rgba(0,0,0,1);
  font-weight: 500;
}

nav ul li a:hover {
  color: rgba(0,0,0,1);
}

nav ul li a.expand::after {
  font-family: 'Material Icons';
  content: "expand_more";
  -webkit-font-feature-settings: 'liga';
  position: relative;
  top: 1px;
}

nav ul li a.expand:hover::after {
  font-family: 'Material Icons';
  content: "expand_less";
  -webkit-font-feature-settings: 'liga';
  position: relative;
  top: 1px;
}


/* HERO */
.hero h1 {
  font-family: 'Jost', sans-serif;
  font-size: 6vh;
  max-width: 60vh;
  text-transform: uppercase;
  line-height: 140%;
  margin: 82px 0 16px;
}

.hero a {
  font-size: 20px;
  font-weight: 500;

  color: #000;
  padding: 12px 24px 12px 12px;
  line-height: 28px;
  background-color: white;
  border-radius: 36px;
}

.hero a i {
  font-size: 32px;
  padding-right: 8px;
}

.hero p i {
  font-size: 24px;
  padding-right: 8px;
}

.hero p {
  margin-bottom: 0;
  font-size: 18px;
}

.hero p:first-of-type {
  margin-top: 14vh;
}

/* NARRATIVE */
.suggestion h1 {
  font-size: 20rem;
  opacity: .8;
}

.suggestions p {
  height: 100vh;
  font-size: 20px;
}

.suggestions {
  margin-bottom: 50vh;
}

.work {
  position: relative;
  height: 800vh;
  display: flex;
  justify-content: center;
}

.work p {
  z-index: 100;
  text-align: center;
}

.spicchi {
  position: absolute;
  width: 80vh;
  height: 400vh;
  padding-top: 10vh;
  margin: 0 auto;
  z-index: 0;
}

.spicchio  {
  transform: rotate(0deg);
  transform-origin: center center;

  width: 80vh;
  height: 80vh;

  position: absolute;
  display: block;
  margin: auto;

  background-color: #222;
  clip-path: polygon(50% 50%, 45% 0%, 55% 0%);
}

.spicchi .spicchio:nth-child(2) {transform: rotate(60deg);}
.spicchi .spicchio:nth-child(3) {transform: rotate(120deg);}
.spicchi .spicchio:nth-child(4) {transform: rotate(180deg);}
.spicchi .spicchio:nth-child(5) {transform: rotate(240deg);}
.spicchi .spicchio:nth-child(6) {transform: rotate(300deg);}

.stepwork, .finalwork {
  width: 81vh;
  height: 81vh;

  position: absolute;
  display: block;
  margin: 0 auto;

  background-color: #222;
  border-radius: 80vh;
}

.finalwork {
  background-color: #444;
  transform:  translateY(-70vh) scale(2);
  z-index: 200;
}