@import "https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700";

html {
	font-size: 16px;
}

body {
	font-family: 'Raleway', sans-serif!important;
	margin: 0;
	font-size: 15px;
}

input {
	-webkit-appearance: none;
}

#gdpr {
	position: fixed;
	left: 4rem;
	bottom: 4rem;
	right: 4rem;
	background-color: rgba(239,249,254,.9);
	border-radius: 4rem;
	z-index: 1000;
	max-width: 60rem;
	margin: 0 auto;
}

#gdpr p {
	font-size: 2rem;
	line-height: 2.5rem;
	padding: 4rem 4rem 2rem;
	max-width: 50rem;
	margin: 0 auto;
}

#gdpr button {
	padding: 2rem;
	border: none;
	border-radius: 2rem;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.5rem;
	text-transform: uppercase;

	position: relative;
	float: right;
	right: -2rem;
}

#agree {
	background: rgba(0,137,207,1);
	color: White;
}

#back {
	background-color: #eff9fe;
	color: rgba(0,137,207,1);
}

#container {
	font-size: 4px;
	position: absolute;
	width: 5.05em;
	height: 10em;
	margin: -3em auto;
	left: 0;
	right: 0;
	-webkit-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
	z-index: 100;
	cursor: pointer;
}

#container.open {
	width: 7.55em;
}


.logo-sq {
	box-sizing: content-box;
	position: absolute;
	border-radius: .5em;
	-webkit-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
	-webkit-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
}

#sq1 {
	width: 5.05em;
	height: 5.05em;

	top: .7em;
	left: 0;
	background-color: rgba(109,207,246,.9);
}

#sq1.open {
	width: 4.8em;
	height: 4.8em;
	top: .7em;
	left: 0;
	background-color: rgba(109,207,246,.9);
}

#sq2 {
	width: 4.8em;
	height: 4.8em;
	top: .7em;
	left: 0;

	-webkit-transform: perspective(8em) rotateY(00deg);

	        transform: perspective(8em) rotateY(00deg);

	background-color: rgba(0,140,210,.7);
	mix-blend-mode: multiply;
}

#sq2.open {
	height: 5.4em;
	top: .4em;
	width: 4.9em;
	left: 1.8em;
	-webkit-transform: perspective(8em) rotateY(30deg);
	        transform: perspective(8em) rotateY(30deg);
}

#sq3 {
	width: 4.8em;
	height: 4.8em;
	top: .7em;
	left: 0;
	-webkit-transform: perspective(12em) rotateY(0deg);

	        transform: perspective(12em) rotateY(0deg);

	background-color: rgba(109,207,246,1);
	mix-blend-mode: multiply;
}

#sq3.open {
	width: 6.5em;
	height: 5.8em;
	left: 2.6em;
	top: .25em;
	-webkit-transform: perspective(12em) rotateY(54deg);
	        transform: perspective(12em) rotateY(54deg);
}

#sq4 {
	position: absolute;
	width: 5.05em;
	height: 5.05em;
	left: 0;
	top: .7em;
	-webkit-transform: translateZ(10em);
	        transform: translateZ(10em);

	background-color: rgba(3,78,162,1);
	mix-blend-mode: normal;
}

#sq4.open {
	width: 1.4em;
	left: 3.4em;
	height: 4.8em;

	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#logo-img {
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	margin: 0 auto;
	padding: 1.3em 0;
	width: 4.5em;
}

h1 {
	text-align: center;
	font-weight: 700;
	font-size: 2rem;
	margin: 0 auto!important;
	max-width: 25rem;
	line-height: 2.5rem;
}

.section > a {
	background-color: Blue;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	max-width: 15rem;
	border-radius: .5rem;
	margin: 2rem auto;
	font-size: 1rem;
	line-height: 3rem;
	display: block;
}


.nav-scrolled {
	background-color: #FFFFFF;
	box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.1);
	width: 100%;
	font-size: 1rem;
}


.nav-link {
	width: 150px!important;
	text-align: center!important;
	color: #555555;
}

.navbar-toggler {
	padding: .75rem!important;
	color: #007bff;
}

.light {
	color: white;
	opacity: .8;
}

#hero {
	background-color: #e8f4f8;
	background-image: url('company2.jpg');
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: bottom;
	height: 100vh;
}

#hero video {
	position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#hero .overlay-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

#hero .overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 70%;
	width: 100%;
	opacity: .7;
	/** background: rgb(255,255,255);
	background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,123,255,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,123,255,1) 100%);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,123,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#007bff",GradientType=1);	opacity: 0.6;
	**/

	background: rgb(255,255,255);
	background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);

	z-index: 1;
}

#cover {
	z-index: 100;
	position: absolute;
	bottom: 4rem;
	right: 0;
	left: 0;
	width: 80%;
	margin: 0 auto;
}

.title {
	font-weight: 500;
	font-size: 1.5rem;
	text-align: left;
}

.text {
	font-size: 1rem;
}

#cover a {
	max-width: 10rem;
	color: white;
	font-weight: 700;
	border: none;
	font-size: .75rem;
}

.didascalia {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	z-index: 100;
	opacity: .8;
	background: white;
}

.didascalia p {
	font-size: .75rem;
	color: #000000;
	padding: .25rem;
	margin: 0;
	font-weight: 400;
}

#services {
	padding-bottom: 6rem;
}

.services {
	margin-top: 6rem;
}

.services h2 {
	text-align: center;
}

.services p {
	font-size: 1.25rem;
}

.services a {
	color: white; font-weight: 700; background: #FF4500; border: none;
}

#nb-image {
	position: relative; top: 4rem; height: auto; display: block; margin: 0 auto; padding: 0;
}

#company {
	background: url('company2.jpg');
	min-height: 100vh;
	background-size: cover;
	background-position: 50% 100%;
}

#company-container {
	margin-top: -10rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid;
  background: transparent;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem 0;
  margin: 0 auto;
  cursor: pointer;
}



.card {
  background-color: white;
  border-radius: 0.25rem;
  border: 2px solid #ebebeb;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_big:hover {
	box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.25);
}

.card_content {
  padding: 2rem 2rem 1rem;
}

.card_title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 1rem;
  text-align: center;
}

.card_text {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 2rem 1rem;    
  font-weight: 400;
}

.active {
	color: #0056b3;
}

.map {
	background: url(map.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 45% 0%;
	min-height: 45vh;
	width: 100%;
}

.mb-4 > p {
	max-width: 25rem;
}

p {
	text-align: left;
	margin: 1rem auto;
}

.app {
	background-color: #e7ebed;
	background: url(app3.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 45% 100%;
	min-height: 40vh;
	width: 100%;
}

.end {
	background-image: url('surf-blu.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 80vh;
	width: 100%;
}

#portfolio {
	padding: 8rem 0;
}

#portfolio-list {
	padding: 0;
	margin: 0 auto;
	max-width: 60rem;
	font-size: 1rem;
}

.boat {
	list-style-type: none;
	display: inline-block;
	width: 100%;
	max-width: 60rem;
	margin-bottom: 2rem;
	border-bottom: 2px solid #c7eafb;
}

.name {
	display: inline-block;
	float: left;
	padding-bottom: .5rem;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-weight: 700;
}

.lenght {
	display: inline-block;
	border-bottom: 2px solid #0089cf;
	float: right;
	text-align: right;
	padding-bottom: calc(.5rem + 2px);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
	top: 2px;
}

#m107 {width: 50%}
#m99 {width: 46%}
#m97 {width: 45%}
#m90 {width: 42%}
#m78 {width: 35.5%}
#m75 {width: 35%}
#m72 {width: 33.6%}
#m70 {width: 32%}
#m69 {width: 31.5%}
#m66 {width: 30.5%}
#m65 {width: 30%}
#m64 {width: 29.9%}
#m62 {width: 28.9%}
#m60 {width: 28%}
#m59 {width: 27.5%}
#m58 {width: 27%}
#m57 {width: 26.5%}
#m56 {width: 26%}
#m55 {width: 25.5%}
#m54 {width: 25%}
#m52 {width: 24%}
#m50 {width: 23%}
#m49 {width: 22.5%}
#m46 {width: 22%}
#m45 {width: 21.5%}
#m44 {width: 20.5%}
#m41 {width: 19%}
#m38 {width: 17.7%}
#m33 {width: 15.4%}
#m29 {width: 13.5%}
#m27 {width: 12%}


@media only screen and (min-width: 768px) {
	#nb-image {
		max-width: 80%; top: 4rem; height: auto; display: block; margin: 0 auto; padding: 0rem
	}

	.services a {
		max-width: 20rem;
	}

	.map {
	  	background-size: cover;
	  	background-position: 45% 50%;
		min-height: 80vh;
	}

	.app {
		min-height: 80vh;
	}


}

@media (min-width: 576px) {
	.title {
		font-size: 2.5em;
		text-align: center;
	}

	#cover a {
		max-width: 20rem;
		font-size: 1.25rem;
	}

	.didascalia {
		right: 2rem;
		bottom: 2rem;
	}

	.didascalia p {
		font-size: 1rem;
		padding: .25rem .5rem;
	}

	.services {
		margin-top: 12rem;
	}

	.services h2 {
		text-align: left;
	}

	.services p {
		font-size: 1.75rem;
	}

	.text {
		font-size: 1.5rem;
	}

	#portfolio-list {
		padding: 0 4rem 0;
	}
}

@media (min-width: 992px) {
	.collapse.dont-collapse-sm {
	    display: flex!important;
	    height: auto!important;
	    visibility: visible;
	 }

	 #previous-link {
	 	color: black;
	 }

	 #previous-link:hover {
	 	text-decoration: none;
	 	cursor: default;
	 }
}

@media (max-width: 768px) {

  .rellax {
  	position: relative!important;
 	transform: translate3d(0,0,0)!important;
 }

}
