* {
	box-sizing: border-box;
}

html {
}

body {
	font-family: 'system-ui';
	transition: all .3;
}

.sidebar {
	background-color: #FFFFFF;
	display: inline-block;
}

.logo-container {
	padding: 32px 32px 0;
	display: inline-block;
}

.profileimg-container {
	padding: 32px;
	display: inline-block;
	float: right;
	font-size: 8px;
	display: none;
}

.profileimg-container img {
	height: 4.1em;
	width: 4.1em;
	border-radius: 4.1em;
}

.titoletto {
	font-weight: 700;
	margin: 32px 32px 8px;
}

.body {
	margin: 32px 32px 8px;
	line-height: 24px;
	opacity: .8;
	font-size: 18px;
}

#filters {
	padding: 0 32px;
}

.filter {
	display: inline-block;
}

.filter input[type="checkbox"] {
    display: none;
}

.filter label {
	padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    line-height: 40px;
    font-weight: 300;
    color: #666;
}

.filter label:after {
	content: '\2715';
	margin-left: 12px;
	display: none;
	line-height: 32px;
}

.filter label:hover {
	cursor: pointer;
	background-color: #f1f2f3;
}

.filter input[type="checkbox"]:checked + label {
    background-color: #dbeeff;
    font-weight: 500;
    border: 1px solid white;
    color: #0059ff;
    padding: 8px 12px 8px 16px;
}

.filter input[type="checkbox"]:checked + label:after {
    display: inline-block;
    transition: all .1s;
}

@media (orientation: portrait) {
	.sidebar {
		width: 100%;
		padding-bottom: 32px;
	}

	#filters {
		overflow: auto;
		white-space: nowrap;
		position: sticky;
		top: 0;
	}

	#filters::-webkit-scrollbar {
	  display: none;
	}
}

@media (orientation: landscape) {
	.sidebar {
		width: 320px;
		height: 100vh;
		overflow-y: scroll;
		border-right: 16px solid white;
		position: fixed;
	}
}

.grid {
	margin-top: 16px;
	margin-bottom: 80px;
}

.grid-sizer,
.grid-item {width: calc(100% - 16px);}

.grid-item--width2 {width: calc(100% - 16px)}

.gutter-sizer {width: 16px}

.grid-item {
  float: left;
  height: 400px;
  background: #f1f2f3;
  margin-bottom: 16px;
  box-shadow: none;
  transition: all 300ms;
  border-radius: 4px;
}

.grid-item:hover {
	box-shadow: #999 0px 0px 0px 1px, #999 0 4px 16px -4px;
	transition: box-shadow 300ms;
	border-radius: 8px;
	cursor: pointer;
	z-index: 1000;
}

@media (orientation: portrait) {
	.grid {margin-left: 16px}
}

@media (orientation: portrait) and (min-width: 720px) {
	.grid {margin-left: 16px}
	.grid-sizer,
	.grid-item {width: calc(50% - 16px);}
	.grid-item--width2 {width: calc(100% - 16px)}
	.gutter-sizer {width: 16px}
}

@media (orientation: landscape) {
	.grid {width: calc(100vw - 320px); float: right;}
}

@media (orientation: landscape) and (min-width: 720px) {
	.grid {width: calc(100vw - 320px); float: right;}
	.grid-sizer,
	.grid-item {width: calc(50% - 16px);}
	.grid-item--width2 {width: calc(100% - 16px)}
	.gutter-sizer {width: 16px}
}

@media (orientation: landscape) and (min-width: 1720px) {
	.grid {width: calc(100vw - 320px); float: right;}
	.grid-sizer,
	.grid-item {width: calc(33.33% - 16px);}
	.grid-item--width2 {width: calc(66.66% - 16px)}
	.gutter-sizer {width: 16px}
}

@media (min-width: 720px) {}

@media (min-width: 1920px) {}