/* ------------ General ------------ */

* {box-sizing: border-box;}
html {}
body {font-family: 'system-ui';}
#cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #FFF; pointer-events: none; z-index:9999;}

/* ------------ Text ------------ */

.titoletto {
	font-weight: 300;
	margin: 0 0 16px;
	display: block;
	font-size: 2em;
}

.text-body {
	margin: 32px 32px 16px;
	line-height: 24px;
	opacity: .8;
	font-size: 18px;
}

strong {
	font-weight: 700;
}

span.light {
	color: #999999;
}

*.truncated {
	white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    display: block;
}

i.vertical-align {
	position: relative;
	top: 2px;
	margin-right: 4px;
}

/* ------------ Top bar ------------ */

.topbar {
	height: 56px;
	background-color: white;
	box-shadow: 0 8px 32px -16px;
	display: none;
}

#logo {
	margin: 0 8px;
}

#logo.small {
	padding: 0;
}

/* ------------ Tab bar ------------ */

#tabbar {
	transition: bottom 0.3s;
	transition-timing-function: cubic-bezier(0.8, 0, 1, 1);
}

.tabbar {
	width: 100%;
	background-color: white;
	box-shadow: 0 -4px 32px -24px;
	position: fixed;
	bottom: 0;
	z-index: 9999;
}

.tabbar::selection {
	color: transparent;
}

.tabbar ul {
	width: 100%;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tabbar ul li {
	width: 33.33%;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 4px 8px 8px 8px;
	font-size: 12px;
	color: #444;
}

.tabbar ul li a {
	text-decoration: none;
	color: black;
}

.tabbar ul li a:active {
	text-decoration: none;
	color: #0059FF;
	font-weight: 700;
}

.tabbar ul li a.active {
	text-decoration: none;
	color: #0059FF;
	font-weight: 700;
}

.tabbar ul li a img {
	width: 32px;
	height: 32px;
	padding: 4px;
	width: 100%;
}

.tabbar ul li a:active img {
	filter: invert(19%) sepia(80%) saturate(5022%) hue-rotate(219deg) brightness(104%) contrast(103%);
}

.tabbar ul li a.active img {
	filter: invert(19%) sepia(80%) saturate(5022%) hue-rotate(219deg) brightness(104%) contrast(103%);
}

@media (orientation: landscape) {
	.tabbar {
		display: none;
	}
}

/* ------------ Sidebar ------------ */

.sidebar {
	background-color: #FFFFFF;
	display: inline-block;
}

.menu {
	padding: 24px 24px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a.back {
	display: flex;
    flex-direction: row;
	align-items: center;
	padding: 8px 16px 12px 12px;
	border-radius: 4px;
	cursor: pointer;
	color: black;
	text-decoration: none;

	transition: all .3s;
}

a.back:hover {
	background-color: #f1f2f3;

	transition: all .3s;
}

a.back:hover ~ .for-whom {
	border-color: white;

	transition: all .3s;
}

.profileimg-container {
	padding: 32px;
	display: inline-block;
	float: right;
	font-size: 8px;
	display: none;
}

.profileimg-container img {
	height: 4.1em;
	width: 4.1em;
	border-radius: 4.1em;
}

#filters {
	padding: 0 32px;
}

.filter {
	display: inline-block;
}

.filter input[type="checkbox"] {
    display: none;
}

.filter label {
	padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    line-height: 40px;
    font-weight: 300;
    color: #666;
}

.filter label:after {
	content: '\2715';
	margin-left: 12px;
	display: none;
	line-height: 32px;
}

.filter label:hover {
	cursor: pointer;
	background-color: #f1f2f3;
}

.filter input[type="checkbox"]:checked + label {
    background-color: #dbeeff;
    font-weight: 500;
    border: 1px solid white;
    color: #0059ff;
    padding: 8px 12px 8px 16px;
}

.filter input[type="checkbox"]:checked + label:after {
    display: inline-block;
    transition: all .1s;
}

.company-info {
	margin: 0 32px;
}

.for-whom {
	padding: 0 16px;
    border-left: 1px solid #DDDDDD;
    font-weight: 500;
}


@media (orientation: portrait) {
	.sidebar {
		width: 100%;
		padding-bottom: 32px;
	}

	#filters {
		overflow: auto;
		white-space: nowrap;
		position: sticky;
		top: 0;
	}

	#filters::-webkit-scrollbar {
	  display: none;
	}
}

@media (orientation: landscape) {
	.sidebar {
		width: 320px;
		height: 100vh;
		overflow-y: scroll;
		border-right: 16px solid white;
		position: fixed;
	}
}

/* ------------ Grid Companies------------ */

.grid {
	margin-top: 32px;
	margin-bottom: 80px;
}

.grid-sizer,
.grid-item {width: calc(100% - 32px);}

.grid-item--width2 {width: calc(100% - 32px)}

.gutter-sizer {width: 32px}

.grid-item {
	float: left;
	background: #FFFFFF;
	margin-bottom: 56px;
	box-shadow: none;
	border-radius: 4px;
	overflow: hidden;

	transition-duration: 300ms;
}

/* .grid-item:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 300ms;
	mix-blend-mode: multiply;
	background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(0,0,0,.25) 100%);
	background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(0,0,0,.25) 100%);
	background: linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(0,0,0,.25) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#777777",GradientType=1);
} */

.grid-item:hover {
	transition: all 300ms;
	cursor: pointer;
	z-index: 1000;
}

.grid-item:hover .collection {
	transform: translate(-50%, -50%) scale(1.2);
	transition-duration: 300ms;
}

.grid-item .collection {
	transform: translate(-50%, -50%) scale(1);
	transition-duration: 300ms;
}

@media (orientation: portrait) {
	.grid {margin-left: 16px}
	.grid-sizer,
	.grid-item {width: calc(50% - 16px);}
	.grid-item--width2 {width: calc(100% - 16px)}
	.gutter-sizer {width: 16px}
}

@media (orientation: portrait) and (min-width: 720px) {
	.grid {margin-left: 32px}
	.grid-sizer,
	.grid-item {width: calc(33.33% - 32px);}
	.grid-item--width2 {width: calc(100% - 32px)}
	.gutter-sizer {width: 32px}
}

@media (orientation: landscape) {
	.grid {width: calc(100vw - 320px); float: right;}
}

@media (orientation: landscape) and (min-width: 720px) {
	.grid {width: calc(100vw - 320px); float: right;}
	.grid-sizer,
	.grid-item {width: calc(33.33% - 32px);}
	.grid-item--width2 {width: calc(100% - 32px)}
	.gutter-sizer {width: 32px}
}

@media (orientation: landscape) and (min-width: 1720px) {
	.grid {width: calc(100vw - 320px); float: right;}
	.grid-sizer,
	.grid-item {width: calc(25% - 32px);}
	.grid-item--width2 {width: calc(50% - 32px)}
	.gutter-sizer {width: 32px}
}

/* ------------ Collections ------------ */

.collection-metadata {
	color: black;
	display: block;
	transition: all 300ms;
	margin: 16px 0;
    line-height: 22px;
}

.collection-wrapper {
	padding-top: 100%;
	position: relative;
	overflow: hidden;
	border: 1px solid #DDDDDD;
	border-radius: 4px;

	transition: all 300ms;
}

.collection-wrapper:hover {
	border-radius: 8px;

	transition: all 300ms;
}

.collection-wrapper a {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.collection {
	width: 120%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	font-size: 0px;
	letter-spacing: 0px;
	word-spacing: 0px;
	transition: all .3;
}

.collection-item {
	width: 33.33%;
	padding-top: 33.33%;
	display: inline-block;
	border: 1px solid #EEEEEE;
	position: relative;
	background-color: #FFFFFF;
}

.collection-item img {
	position: absolute;
	width: 100%;
	top: 0;
	display: none;
}

@media (min-width: 720px) {}

@media (min-width: 1920px) {}


/* ------------ Grid Content------------ */

.grid {
	margin-top: 32px;
	margin-bottom: 80px;
}

.content-sizer,
.content-item {width: calc(100% - 4px);}

.content-item--width2 {width: calc(100% - 4px)}

.content-item--full {width: calc(100% - 4px)}

.content-gutter-sizer {width: 4px}

.content-item {
	float: left;
}

.content-item.spacer {
	height: 80px;
}

.content-item.test {
	background: #EEEEEE;
	box-shadow: none;
	padding-top: 50%;
}

.content-item img {
	width: 100%;
}

.content-item p {
	font-size: 32px;
	line-height: 40px;
	background-color: #f1f2f3;
	padding: 56px;
	margin: 0;
	font-weight: 300;
}

@media (orientation: portrait) {
	.grid {margin-left: 16px}
	.content-sizer,
	.content-item {width: calc(100% - 4px);}
	.content-item--width2 {width: calc(100% - 4px)}
	.content-gutter-sizer {width: 4px}
	.content-item--full {width: calc(100% - 4px)}
}

@media (orientation: portrait) and (min-width: 720px) {
	.grid {margin-left: 16px}
	.content-sizer,
	.content-item {width: calc(50% - 4px);}
	.content-item--width2 {width: calc(100% - 4px)}
	.content-gutter-sizer {width: 4px}
	.content-item--full {width: calc(100% - 4px)}
}

@media (orientation: landscape) {
	.grid {width: calc(100vw - 320px); float: right;}
}

@media (orientation: landscape) and (min-width: 720px) {
	.grid {width: calc(100vw - 320px); float: right;}
	.content-sizer,
	.content-item {width: calc(50% - 4px);}
	.content-item--width2 {width: calc(100% - 4px)}
	.content-gutter-sizer {width: 4px}
	.content-item--full {width: calc(100% - 4px)}
}

@media (orientation: landscape) and (min-width: 1720px) {
	.grid {width: calc(100vw - 320px); float: right;}
	.content-sizer,
	.content-item {width: calc(33.33% - 4px);}
	.content-item--width2 {width: calc(66.66% - 4px)}
	.content-gutter-sizer {width: 4px}
	.content-item--full {width: calc(100% - 4px)}
}